<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%=image_tag('eh.jpg', :size => '400x600')%>
                <hr class="light">
                <p class="text-faded">
                I love to develop games and 3D models using the Unity 3D engine. I have a background
                in web development(Ruby, Rails, and Javascript), which gives me a
                unique perspective in game development. I enjoy taking on new game projects and
                using team work and communication to maximize production. Along with programming I also possess a B.S. degree in Marketing.
                </aside>  </p>
            </div>
        </div>
    </div>
</section>
