<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%=image_tag('eh.jpg', :size => '250x300')%>
                <hr class="light">
                <p class="text-faded">I currently am a fullstack web developer who primarily uses Ruby on Rails to design
                web applications. I am also picking up Javascript to help aid in front-end development. Along with
              web development, I also have created various 3D models and games using Unity3D. Along with programming
            I also possess a B.S. degree in Marketing. </p>

            </div>
        </div>
    </div>
</section>
