<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%=image_tag('eh.jpg', :size => '300x400')%>
                <hr class="light">
                <p class="text-faded">Ever since I was young I have always been fascianted with video games. From the time I
                got my first GameBoy, I have always been keeping up-to-date on the video game industry. Currently I am learning
                programming and game design in the Unity 3D engine. I have created some 3D designs and games using Unity and
                enjoy taking on new projects. Previously I have a web development background using programming languages such
                as Ruby, Ruby on Rails, and Javascript. Along with programming I also possess a B.S. degree in Marketing. 

                </aside>  </p>

            </div>
        </div>
    </div>
</section>
