<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%=image_tag('eh.jpg', :size => '400x600')%>
                <hr class="light">
                <p class="text-faded">
                  Current I am a web developer with a focus on fullstack and back-end development. The programming
                  langauges and frameworks I use include: Ruby, Ruby on Rails, and Javascript. I have created two
                  web sites using Ruby on Rails and a fun CLI application with Ruby. I also have used Javascript in
                  these web applications in order to enhance their funcationality. I enjoy taking on new projects and
                  using team work to help meet deadlines. Along with programming I also possess a B.S. degree in Marketing.
                </aside>  </p>
            </div>
        </div>
    </div>
</section>
