<section id="connect">
<aside class="bg-dark">
    <div class="container text-center">
        <div class="connect">
            <h2>Connect with me!</h2>
              <%= link_to image_tag("twitter.png", :size => '100x100'),"https://twitter.com/dwisexone" %>
              <%= link_to image_tag("linkedinicon.png", :size => '100x100'), "https://www.linkedin.com/in/daniel-wise-19004942"%>
              <%= link_to image_tag("githuby", :size => '100x100'),"https://github.com/danwise91" %>
        </div>
    </div>
</aside>
</section>
