<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Daniel Wise Porfolio Page</h1>
            <hr>
            <p>Hi my name is Dan, a Ruby on Rails web developer. Welcome to my project portfolio.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More About Dan</a>
        </div>
    </div>
</header>
