<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Web Projects</h2>
              <hr class="primary">
          </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "speedway.png", class: "img-responsive", alt: "", :size => '500x150' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails
                            </div>
                            <div class="project-name">
                              Speedway Garage
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "smalltalk.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails
                            </div>
                            <div class="project-name">
                                Smalltalkto.me
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "jukebox.gif", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Unity 3D
                            </div>
                            <div class="project-name">
                                Spectrum JukeBox
                            </div>
                        </div>
                    </div>
                </a>
            </div>



        </div>
    </div>
</section>
